{{>menuVipAdmin}}

<form method="POST">
    <fieldset>
        <legend>Modifier {{vip.nom}}</legend>
        <div id="containerForm">
            <div>
                <label for="nom">Nom* :</label>
                <input name="nom" value="{{vip.nom}}" required>
            </div>
            <div>
                <label for="prenom">Prenom* :</label>
                <input name="prenom" value="{{vip.prenom}}" required>
            </div>
            <div>
                <label for="sexe">Sexe* :</label>
                <select name="sexe" required>
                    <option value="M">Masculin</option>
                    <option value="F">Féminin</option>
                </select>
            </div>
            <div>
                <label for="dateNaissance">Date de naissance :</label>
                <input name="dateNaissance" required type="date" value="{{formatDate vip.naissance 'YYYY-MM-DD'}}">
            </div>
            <div>
                <label for="nationalite">Nationalité :</label>
                <select name="nationalite" required>
                    {{#each nationalite}}
                    <option value="{{this.id}}">{{this.nom}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <label for="commentaire">Commentaire :</label>
                <textarea name="commentaire">{{vip.description}}</textarea>
            </div>
        </div>
        <input type="submit" value="Modifier le VIP">
    </fieldset>
</form>