<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16" />
    <link rel="stylesheet" href="/css/structure.css" />
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <title> {{title}}</title>
</head>

<body class="monBody">
    {{#if connect}}
    <div id="container">
        <div id="header">
            <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
            <div id="deco">
                <p>Bonjour {{name}}</p>
                <a href="/">Déconnexion</a>
            </div>
        </div>
        <div class="menu_haut">
            <ul>
                <li><a href="/vip/ajouter">VIPS</a></li>
                <li class="traitVertical"><a href="/photo/ajouter">PHOTOS</a></li>
            </ul>
        </div>
        <div id="contenu">
            <br />
            <br />
            {{{body}}}
        </div>
        <div id="footer">
            L'encyclopédie des stars depuis février 2021 (en NodeJS)
            <br />
            © IUT du Limousin DUT Informatique année 2
            <br />
            Application réalisée par Florian TORIBIO
            <br />
            <img src="/images/nodejs.png" id="LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
        </div>
    </div>
    <script type="text/javascript" language="javascript" src="/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/addImageVipForm.js"></script>
    <script type="text/javascript" language="javascript" src="/js/selectImageVip.js"></script>
    {{else}}
        {{{body}}}
    {{/if}}
</body>

</html>