<div id="article">
    <p id="nameArticle">Article</p>
    <div class="articleTxt">
        {{#with article}}
            <a href="/repertoire/star/{{../id}}">{{this.prenomVip}} {{this.nomVip}}</a>
            <p>{{this.resume}}</p>
            <p class="dateArticle">[Ajouté le {{formatDate this.date 'D MMMM YYYY'}} ]</p>
            <a class="lienFiche" href="/repertoire/star/{{../id}}">Voir sa fiche</a>
        {{else}}
            <p>Choisssez un vip pour voir les articles le concernant</p>
        {{/with}}
    </div>
</div>

<div id="menuArticle">
    <p>VIPs</p>
    <div>
        {{#each vip}}
            <a href="/articles/{{this.id}}">{{this.prenom}} {{this.nom}}</a>
        {{/each}}   
    </div>
</div>