<div id="focusVip">
    {{#with start}}
        <a href="/album/{{../precedent}}"><<</a>
        <button id="photoStarSuivante"><</button>
        <div id="imageStar">
            <p>{{this.nom}} {{this.prenom}}</p>
            {{#each ../startPhoto}}
            <div class='photoStar'>
                <img src="/images/vip/{{this.image}}" alt="{{this.description}}">
                <div class="commentaire">
                    <p class="nameCommentaire">Commentaire</p>
                    <div>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <button id="photoStarPrecedente">></button>
        <a href="/album/{{../suivant}}">>></a>
    {{/with}}
</div>

<div id="deplacementAlbum">
    <div id="albumPhoto" data-indexImage="{{indexVipActuel}}">
    {{#each photos}}
        {{#ifCond id '==' ../id}}
            <img src="/images/vip/{{this.image}}" alt="{{this.description}}">
        {{else}} 
            <a href="/album/{{this.id}}"><img src="/images/vip/{{this.image}}" alt="{{this.description}}"></a>
        {{/ifCond}}
    {{/each}}
    </div>

    <div id="buttonsLeft">
        <button id="debutPageButton">Debut</button>
        <button id="prevPageButton">Précédent</button>
    </div>
    <div id="buttonsRight">
        <button id="nextPageButton">Suivant</button>
        <button id="finPageButton">Fin</button>
    </div>
   
</div>

