{{>listLetters}}

<div id="repVip">
    {{#each image}}
        <div>
            <img width="150px" height="200px" src="/images/vip/{{this.photo}}" alt="{{this.alt}}" />
            <a href="/repertoire/star/{{this.id}}">{{this.prenom}} {{this.nom}}</a>
        </div>
    {{/each}}
</div>
